#banner{
    background-image: url(images/donation6.jpg);
    background-size: cover;

}
.main-banner{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;

}
.heading-one{
   
    
}