body{
    font-family: 'Inter', sans-serif;
}
/* Banner part css start */
#banner{
    background-image: url(images/donation6.jpg);
    background-size: cover;

}
.main-banner{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;

}
.main-banner h1{
    font-size: 40px;
}

.main-banner p{
    padding: 10px 300px;
}

.main-banner button{
    background-color: tomato;
    color: white;
    padding: 10px 20px; 
    border: none;
}

.main-banner button:hover{
    background-color: black;
    transition: all linear 0.3s;
}
/* Donate today part css start */
.donate-plan{
    text-align: center;
}
#donateToday{
    text-align: center;
    padding: 50px 300px;

}
.donate-today{
    text-align: center;
}

.donate-heading h1{
    font-size: 45px;
}
.donate-heading p{
    color: #707070;
    font-size: 15px;
}

.donate-money{
    justify-content: space-between;
    display: flex;
    
}

.donate-money h4{
    color: white;
    background-color: tomato;
    padding: 45px 25px;
}
.donate-button button{
    color: white;
    background-color: tomato;
    padding: 10px 20px;
    border: none; 
}

.donate-button button:hover{
    color: white;
    background-color: black;
    transition: all linear 0.3s;

}

.donate-plan-item{
    justify-content: space-between;
    display: flex;

}
.donate-item{
    width: 30%;
}
.donate-heading p{
    padding: 50px 50px;

}
.donate-item{
    background-color:#4F9DA61A;
    text-align: justify;
    padding: 20px 40px;
    margin-left: 3%;
}

#galary{
    padding-top: 50px;
    
}
.gallary-heading{
    text-align: center;
}

.galary-img{
    display: flex;
    justify-content: space-between;
    
}
.galary-img img{
    width: 300px;
}


#update{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
#update p{
    padding:10px 300px
}

.update-mail{
    background-color: #FFF4D6;
    padding: 50px 50px;
}

.update-mail input{
    width: 300px;
    height: 30px;
}

.update-mail button{
    color: white;
    background-color: tomato;
    border: none;
    padding: 10px 40px;

}

#footer{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FF5959;
    background-color: #0B0D17;
    text-align: center;
}

#footer h1{
    font-family: 'Lobster', cursive;
}
#footer p{
    color: #fff;

}