body{
    font-family: 'Inter', sans-serif;
}
/* Banner part css start */
#banner{
    background-image: url(images/donation6.jpg);
    background-size: cover;

}
.main-banner{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;

}
.main-banner h1{
    font-size: 30px;
}

.main-banner button{
    background-color: tomato;
    color: white;
    padding: 10px 20px; 
    border: none;
}
/* Donate today part css start */
.donate-plan{
    text-align: center;
}
#donateToday{
    text-align: center;
    padding: 50px 300px;

}
.donate-today{
    text-align: center;
}
.donate-money{
    justify-content: space-between;
    display: flex;
}
.donate-plan-item{
    justify-content: space-between;
    display: flex;

}
.donate-item{
    width: 30%;
}